<% var month = [];
month[0] = "January";
month[1] = "February";
month[2] = "March";
month[3] = "April";
month[4] = "May";
month[5] = "June";
month[6] = "July";
month[7] = "August";
month[8] = "September";
month[9] = "October";
month[10] = "November";
month[11] = "December"; 
%>
<br>
<br> 
<div id="messageContainer">
<div class="messageGrid-container">
<div class="table-responsive">
<div class="col-sm-12 col-xs-12">
<div class="field-validation-error">
     <%=data.error%>
 </div>
 <%if(!data.error){%>
<table class="table dataTable table-bordered" id="msgTable">
<thead>
<tr>
<th>Sender</th>
<th>Reciever</th>
<th>Message containt</th>
<th>Subject</th>
</tr>
</thead>
<tbody>
<% data.history.forEach(function(data){  %>
<tr>
<td><%-data.sender.$identifier %></td>
<td><%-data.receiver.$identifier %></td>
<td><%-data.message.$identifier %></td>
<td><%-data.subject.$identifier %></td>
</tr>
<%});%>
</tbody>
</table>
<%}%>
</div>
</div>
</div>
</div>
